{% extends "base.html" %} {% block content %}
<form method="get">
  <select
    class="select select-accent bg-accent font-semibold"
    name="category"
    hx-get="{% url 'landing_page' %}" hx-target="#movie-list-container" hx-swap="innerHTML"
  >
    <option value="" disabled selected>Pick a movie</option>
    <option value="popular" {% if category == 'popular' %} selected {% endif %}>Popular</option>
    <option value="now_playing" {% if category == 'now_playing' %} selected {% endif %}>Now Playing</option>
    <option value="top_rated" {% if category == 'top_rated' %} selected {% endif %}>Top Rated</option>
    <option value="upcoming" {% if category == 'upcoming' %} selected {% endif %}>Upcoming</option>
  </select>
</form>

<div class='flex justify-center mt-10'>
  <form hx-get="{% url 'landing_page' %}" hx-target="#movie-list-container" hx-swap="innerHTML" method="get">
    <label class="input input-accent input-lg w-full lg:w-lg">
      <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" name="search" required placeholder="Search for movies..." />
    </label>
    <button type='submit' class="btn btn-accent btn-lg">Search</button>
  </form>
</div>


<div
  id="movie-container"
  class="movie-list mt-10"
>
  {% if error_message %}
  <div class="flex justify-center">
    <div role="alert" class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <span>{{error_message}}.</span>
    </div>
  </div>
  {% endif %}

  <div id="movie-list-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5">
   {% include "movies/partials/movie_list.html" %}
  </div>
  
</div>

{% endblock %}
