<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/src/output.css' %}" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4"
      integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %}Movie Spot{% endblock %}</title>
  </head>

  <body>
    <div id="navbar">
      {% block navbar %} {% include "includes/navbar.html" %} {% endblock %}
    </div>

    <div id="content" class="m-14">{% block content %}{% endblock %}</div>
  </body>
</html>
