{% for movie in movies %}
<a href="{% url 'movie_detail' movie.id %}" class="cursor-pointer">
  <div
    class="card bg-info max-w-72 shadow-sm hover:bg-info-content transition duration-300 ease-in-out"
  >
    <figure>
      <img
        src="{% if movie.poster_path %} https://image.tmdb.org/t/p/original/{{movie.poster_path}} {% else %} https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg {% endif %}"
        alt="{{movie.title}}"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{movie.title}}</h2>
      <p>{{movie.vote_average | floatformat:1}}/10</p>
    </div>
  </div>
</a>
{% endfor %} {% if has_next_page %}
<div
  id="scroll-trigger"
  hx-get="{% url 'landing_page' %}?category={{ category }}&search={{ search }}&page={{ next_page }}"
  hx-target="#movie-list-container"
  hx-swap="beforeend"
  hx-trigger="revealed"
></div>
{% endif %}
